h2 {
  text-align: center;
}

.contact-wrapper {
  /* display: grid; */
  /* justify-content: center; */
  text-align: center;
  margin-top: 10%;
}

.contact-list {
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}