body {
  /* background-color: #282c34; */
  background-color: white;

  
}
.nav-container {
  display: grid;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  grid-template-columns: repeat(10, 1fr);
  background-color: white;
  
}

.nav-item1 {
  text-align: center;
  font-size: 16px;
  font-family: 'Esteban', serif;
}

.nav-item2 {
  grid-column: 10/11;
  text-align: center;
  font-size: 16px;
  font-family: 'Esteban', serif;
}

.nav-item1 a:hover, .nav-item2 a:hover {
  color: #f0a04b;
  /* border-bottom: 2px solid #183a1d; */
}
a {
  color: black;
  text-decoration: none;
  /* font-family: 'Architects Daughter', cursive; */
  font-family: 'Esteban', serif;
  font-size: 24px;
}

#git {
  margin-left: 5px;
}

.main-header-container {
  display: grid;
  margin-top: 40px;
  text-align: center;
  font-family: 'Esteban', serif;
}

h1 {
  margin-bottom: 0;
  color:black;
  font-family: 'Esteban', serif;
  font-size: 36px;
  text-align: center;
}
#title {
  margin-top:5;
  color: black;
  font-family: 'Esteban', serif;
}

#home-photo {
  max-width: 50%;
  max-height: 50%;
}

p{
  color: black;
  font-family: 'Esteban', serif;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr min(35ch, 100%) 1fr;
  margin-top: 125px;
}

.content-container > * {
  grid-column: 2; 
}
.content-item {
  text-align: center;
  font-size: 20px;
  height: 300px;
  margin-top: 2rem;
}

.content-link {
  height: 100%;
}
#content-p {
  margin-top: 8%;
  margin-bottom: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

body .content-item:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .9);
  transform: translate3D(0, -2px, 0);

}

.icon-bar {
  position: fixed;
  left: 0;
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.fa {
  font-size: 20px;
  display: inline;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  /* color: #55ACEE */
  color: black;
}

.fa-linkedin {
  /* color: #007bb5 */
  color: black;
}

.home-wrapper {
  display: grid;
  grid-template-rows: 80% 15% 5%;
  align-items: center;
  justify-items: center;
  text-align: center;
}

#home-photo {
  display: block;
  padding-bottom: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%; 
}

.home-title {
  font-size: 60px;
  margin-top: -5%;
}
.home-subtitle {
  margin-top: -1%;
}